
@{
    ViewBag.Title = "Error Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row margin-top">
    <div class="col-md-12">
        <h1>Whoops!!!</h1>
        <p>
            Looks like something went wrong. The application hit a bump in the road. Please send <a href="mailto:deathstarjim@outlook.com">an email</a> to our support staff
            so we can get this fixed up!
        </p>
        <img src="~/Images/error-page-image.jpg" alt="Bike Crash!" />
    </div>
</div>
