@model TimeTracker.UI.Areas.OrgRegistration.ViewModels.RegistrationViewModel

<section id="four" class="wrapper style1 fade-up">
    <div class="inner">
        <h2>Having trouble?</h2>
        <p>
            If you're having trouble registering for the beta, feel free to reach out and tell us what's going on so we can get it fixed as soon as possible!
        </p>
        <div class="split style1">
            <section>
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Name*</label>
                            <input type="text" name="name" id="name" required />
                        </div>
                        <div class="field half">
                            <label for="email">Email*</label>
                            <input type="text" name="email" id="email" required />
                        </div>
                        <div class="field">
                            <label for="message">Message*</label>
                            <textarea name="message" id="message" rows="5" required></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="primary" /></li>
                    </ul>
                </form>
            </section>
            <section>
                <ul class="contact">
                    <li>
                        <h3>Karma First</h3>
                        <span>
                            7960 Richard Road, FH<br />
                            Broadview Heights, OH 44147<br />
                            USA
                        </span>
                    </li>
                    <li>
                        <h3>Email</h3>
                        <a href="#">info@karmafirst.com</a>
                    </li>
                    <li>
                        <h3>Phone</h3>
                        <span>(216) 255-8074</span>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</section>