@model TimeTracker.UI.Areas.OrgRegistration.ViewModels.RegistrationViewModel

<!DOCTYPE HTML>

<html>
<head>
    <title>Bike Time Tracker Beta Registration</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Areas/OrgRegistration/Content/main.css" />
    <noscript><link rel="stylesheet" href="~/Areas/OrgRegistration/Content/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#intro">Welcome</a></li>
                    <li><a href="#one">Your Organization</a></li>

                    @if(Model.CurrentOrg.Id != Guid.Empty)
                    {
                        <li><a href="#two">About You</a></li>
                        <li><a href="#three">Registration Successful</a></li>
                    }

                    <li><a href="#four">Having Trouble?</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>Bike Time Tracker Registration</h1>
                <p>
                    This registration process is for bicycle co-ops and non-profits. It will grant access to the Bike Time Tracker which allows
                    an organization to tracker their volunteer time, setup volunteer opportunities and manage volunteer "purchases" with credits
                    earned by time donated.
                </p>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">Let's get started!</a></li>
                </ul>
            </div>
        </section>

        <!-- One -->
        @Html.Partial("_OrgRegistrationForm", Model)

        <!-- Two -->
        @if(Model.CurrentOrg.Id != Guid.Empty)
        {
            @Html.Partial("_OrgAdminForm", Model)
        }

        <!-- Three -->
        @if(Model.CurrentOrg.Id != Guid.Empty && Model.CurrentAdmin.Id != Guid.Empty)
        {
            @Html.Partial("_RegistrationSummary", Model)
        }

        <!-- Four -->
        @Html.Partial("_ContactForm", Model)

    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; Karma First. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Areas/OrgRegistration/Scripts/jquery.min.js"></script>
    <script src="~/Areas/OrgRegistration/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Areas/OrgRegistration/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Areas/OrgRegistration/Scripts/browser.min.js"></script>
    <script src="~/Areas/OrgRegistration/Scripts/breakpoints.min.js"></script>
    <script src="~/Areas/OrgRegistration/Scripts/util.js"></script>
    <script src="~/Areas/OrgRegistration/Scripts/main.js"></script>

</body>
</html>