@model TimeTracker.UI.Areas.OrgAdmins.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Administrator Login";
    Layout = "~/Areas/OrgAdmins/Views/Shared/_OrgAdminLoggedOutLayout.cshtml";
}


<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        @using (Html.BeginForm("LogUserIn", "Login", FormMethod.Post, new { autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.CurrentAdmin.Id)

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.CurrentAdmin.UserName, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "User Name" } })
            <div class="input-group-append">
                <span class="fa fa-envelope input-group-text"></span>
            </div>
        </div>
        <div class="input-group mb-3">
            @Html.PasswordFor(model => model.CurrentAdmin.Password, new { @class = "form-control", @required = "required", @placeholder = "Password" })
            <div class="input-group-append">
                <span class="fa fa-lock input-group-text"></span>
            </div>
        </div>
            <div class="row">
                <div class="col-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        }

        <p class="mb-1">
            <a href="#">I forgot my password</a>
        </p>
        <p class="mb-0">
            <a href="register.html" class="text-center">Register a new membership</a>
        </p>
    </div>
    <!-- /.login-card-body -->
</div>

